<div class="row">
    <div class="col-12">
        <!-- 게시글 목록 -->
        <div class="table-responsive">
            <table class="table table-bordered mt-3">
                <thead>
                <tr class="text-center">
                    <th>순번</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>등록일시</th>
                    <th class="d-none d-md-table-cell">수정일시</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    {% include "posts/partials/post_row.html" %}
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center py-4">검색 결과가 없습니다.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!--// 게시글 목록 -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <!-- 페이지네이션 -->
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <!-- 이전 페이지 -->
                    {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
                        </li>
                    {% endif %}
                    <!--// 이전 페이지 -->
                    <!-- 페이지 리스트 -->
                    {% for page_number in posts.paginator.page_range %}
                        {% if page_number >= posts.number|add:-5 and page_number <= posts.number|add:5 %}
                            <li class="page-item {% if page_number == posts.number %}active{% endif %}">
                                <a class="page-link" href="{% url 'posts:list' %}?page={{ page_number }}">
                                    {{ page_number }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!--// 페이지 리스트 -->
                    <!-- 다음 페이지 -->
                    {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
                        </li>
                    {% endif %}
                    <!--// 다음 페이지 -->
                </ul>
              </nav>
        </div>
        <!--// 페이지네이션 -->
    </div>
</div>
